/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--page-bg-color);
  max-width: 1024px;
  margin: 0 auto;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.main {
  margin: 0 20px;
}

.header {
  height: 100vh;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-block-start: 2px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor-color);
  border-bottom: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decor-color);
  border-top: 1px solid var(--decor-color);
}

.header__theme-menu-button {
  font-family: var(--font-main);
  font-size: 18px;
  background-color: transparent;
  color: var(--decor-color);
  text-transform: lowercase;
  border: none;
  padding: 0 12px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header .title {
  position: relative;
  left: 50%;
  width: 48%;
  margin-block-end: 138px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
}

.header__theme-menu {
  justify-content: center;
  display: flex;
  margin-block-start: 16px;
}

.header__label {
  color: var(--label-color);
  font-size: var(--font-size-label);
  font-weight: bold;
  font-family: var(--font-main);
  text-shadow: 4px 4px var(--text-shadow-color);
  margin-block-start: 1.1em;
}

.title {
  grid-area: title;
  color: var(--subtitle-color);
  background-color: var(--subtitle-bg-color);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: bold;
}

.title_font-weight-normal {
  font-weight: normal;
}

.text {
  color: var(--main-text-color);
  font-family: var(--font-main);
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.284;
}

.text a {
  text-shadow: 2px 2px var(--subtitle-bg-color);
  text-decoration: none;
}

.text a:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text a:focus {
  outline: none;
}

.text a:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.title_invers {
  color: var(--title-color);
  background-color: transparent;
  width: 315px;
}

.section {
  display: grid;
  margin-block-end: 80px;
}

.about {
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "title ." "title .";
  margin-top: 60px;
  margin-bottom: 64px;
  gap: 10px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__item {
  list-style: none;
}

.problem {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title title title" ". . .";
  margin-top: 75px;
  margin-bottom: 80px;
  gap: 20px;
}

.hints {
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  grid-template-areas: "title ." "title ." "title ." "title ." "title ." "title .";
  gap: 20px 10px;
}

.hints .card {
  grid-column-start: 2;

}

.images {
  max-inline-size: 1092px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title title title" "sunset sunset ice" "tape book ice" "tape street street";
  gap: 20px;
  justify-content: center;
  margin-block-start: 79px;
  object-fit: cover;
  width: 100%;
}

.images_sunset {
  grid-area: sunset;
  object-fit: cover;
  width: 100%;
}

.images__ice-cream {
  grid-area: ice;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.images__street {
  grid-area: street;
  object-fit: cover;
  width: 100%;
}

.images__tape {
  grid-area: tape;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.images__book {
  grid-area: book;
  object-fit: cover;
  width: 100%;
}

.footer {
  margin-block-start: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
}

.footer__label {
  color: var(--label-color);
  font-size: var(--font-size-label);
  font-weight: bold;
  font-family: var(--font-main);
  text-shadow: 2px 2px var(--text-shadow-color);
}

.rec {
  font-family: var(--font-main);
  color: var(--decor-color);
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  right: 48px;
  top: 20px;
  visibility: var(--rec-decor-visibility, visible);
}

.rec::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  margin-top: 7px;
  margin-left: 9px;
  border: 5px solid var(--decor-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
}

@media (width <= 768px) {
  .header {
    min-height: 1024px;
  }
  
  .header .title {
    width: 47%;
    margin-block-end: 184px;
  }
  
  .header__theme-menu {
    display: block;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    align-items: self-end;
    margin-block-start: 11em;
    padding-inline-end: 20px;
  }
  
  .header__label {
    margin-block-start: 0;
    padding-block-start: 17px;
  }

  .title_invers {
    width: 236px;
  }
  
  .about {
    gap: 20px;
  }
  
  .problem {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
  }
  
  .hints {
    gap: 20px 20px;
  }

  .hints .card {
    margin-left: 0;
  }
  
  .footer {
    min-height: 1024px;
  }
}

@media (width <= 600px) {
  :root {
    --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  
  .header {
    min-height: 668px;
    height: 100%;;
  }
  
  .about, .problem, .hints, .images {
    display: flex;
    flex-direction: column;
  }
  
  .header__label {
    margin-block-start: 39px;
    line-height: 96px;
    margin-inline-start: 10px;
    margin-block-end: 41px;
  }
  
  .header__theme-menu-list {
    margin-block-start: 3.5em;
    padding-inline-end: 12px;
  }
  
  .rec {
    right: 38px;
    top: 12px;
  }
  
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
  
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
  
  .main {
    margin: 0 10px;
  }
  
  .header .title {
    margin-inline: 10px;
    left: auto;
    width: 95%;
    margin-block-end: 67px;
  }
  
  .title_invers {
    width: 100%;
  }
  
  .about {
    margin-top: 38px;
    margin-bottom: 54px;
    gap: 24px;
  }
  
  .problem {
    margin-bottom: 52px;
    margin-top: 54px;
    gap: 22px;
  }
  
  .hints {
    gap: 22px;
  }
  
  .images {
    margin-block-start: 46px;
    gap: 11px;
  }
  
  .footer {
    margin-block-start: 36px;
    min-height: 668px;
    height: 100%;
  }
  
  .footer::before {
    left: 10px;
    bottom: 10px;
  }
  
  .footer::after {
    right: 10px;
    top: 12px;
  }
}